body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 1em;
    color: rgb(72, 2, 138);
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-size: 14px;
}

section {
    padding: 20px;
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.progress-item {
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

ul li {
    margin-bottom: 10px;
}

h3 {
    margin-top: 80px; 
}
